// Reset
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    transition: all var(--transition-duration);
}
*:not(.round) {
    cursor: default;
}
*::selection {
    background: transparent;
}
